<div class="center">
  <div class="container">
    <div class="block-display">
      <div class="inputs-numbers">
        <div class="num-position">
          <p class="num1-color">89*3</p>
        </div>
      </div>
      <div class="final-output">
        <div class="num2-position">
          <p class="num2-color">267</p>
        </div>
      </div>
    </div>
    <div class="block-button-container">
      <div class="first-row">
        <button class="btn-style btn-color">C</button>
        <button class="btn-style btn-color">%</button>
        <button class="btn-style btn-color">Del</button>
        <button class="btn-style btn-orange">/</button>
      </div>
      <div class="second-row">
        <button class="btn-style">7</button>
        <button class="btn-style">8</button>
        <button class="btn-style">9</button>
        <button class="btn-style btn-orange">*</button>
      </div>
      <div class="third-row">
        <button class="btn-style">4</button>
        <button class="btn-style">5</button>
        <button class="btn-style">6</button>
        <button class="btn-style btn-orange">-</button>
      </div>
      <div class="fourth-row">
        <button class="btn-style">1</button>
        <button class="btn-style">2</button>
        <button class="btn-style">3</button>
        <button class="btn-style btn-orange">+</button>
      </div>
      <div class="fifth-row">
        <button class="btn-style-zero">0</button>
        <button class="btn-style">.</button>
        <button class="btn-style btn-orange">=</button>
      </div>
    </div>
  </div>
</div>